@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;


    .wrapper{
        width: $average-width;
        height: 140vh;
        margin: auto;
        z-index: -1;
        @include media-query('mobile'){
            width: $full-width;
            height: auto;
        }

        .container{
            z-index: -10;
            .fc{
                height: 750px;
            

                .fc-toolbar-title{
                    color: $primary-color;
                    @include media-query('mobile'){
                        font-size: 14px;
                    }
                }
            }
        }
        
    }

    .fc-day {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100px; /* Set the desired height */
        width: 100px; /* Set the desired width */
        .fc-event-main{
            display: none;
          }
    
      }
      
