@use '../abstract/variables';

@mixin media-query($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

  @mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

 
  @mixin transition($properties, $duration) {
    transition: $properties $duration ease-in-out;
  }

  
  @mixin placeholder($color) {
    &::placeholder {
      color: $color;
    }
  }

  @mixin button($bg-color, $text-color, $width, $border, $padding, $radius) {
    width: $width;
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border: none;
    border-radius: $radius;
    cursor: pointer;
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }

 // _mixins.scss

@mixin button-with-icon($bg-color, $text-color, $width, $border, $padding, $radius, $icon-color) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $padding;
  border: none;
  border-radius: $radius;
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: darken($bg-color, 10%);
    color: lighten($text-color, 10%);
  }

  .icon {
    margin-left: 8px; // Adjust spacing between icon and text
    fill: $icon-color; // Assuming the icon is an SVG and using fill property
    font-size: 2rem;
  }
}



  
  
  