@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;


.engage-wrapper{
    // position: relative;
    width: $full-width;
    height: 400px;
    background-color: #000;
    background: url('/assets/images/bg-3.png'), rgb(32, 32, 32) 100% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    @include flexbox(row, space-between, center);
    margin: auto;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: $full-width;
        height: 100%;
        background: rgb(9,9,9);
        background: linear-gradient(90deg, rgba(9,9,9,0.9864320728291317) 26%, rgba(9,9,121,0.04805672268907568) 65%);;
        z-index: 1;
    }
    @include media-query('mobile'){
        @include flexbox(column, center, center);
        margin: auto;
        // margin-bottom: 300px;
    }

    .engage-content{
        color: $background-color;
        margin-top: 30px;
        padding: calc($padding-lg * 2);
        max-width: $small-width;
        z-index: 9999;
        h2{
            margin-bottom: 20px;
            color: $primary-color;
        }
        @include media-query('mobile'){
            max-width: $average-width;
            margin-top: -150px;
            padding: 5px 
        }
    }
    // .engage-box{
    //     width: $full-width;
    //     padding: $padding-md;
    //     width: $full-width;
    //     @include transition(all, .4s);

    //     a{
    //         color: $background-color;
    //         z-index: 3;
    //     }
    //     &:before {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         background-color: rgba(12, 12, 12, 0.404); /* Adjust the color and opacity as needed */
    //       }
    //     &:hover{
    //         h1{
    //             text-decoration: underline;
    //         }
    //     }
    // }

    // .box-1{
    //     height: $full-width;
    //     width: $full-width;
    //     background: url('/assets/images/prayer.png'), rgb(32, 32, 32) 50% / cover no-repeat;
    //     background-position: center;
    //     color: $background-color;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 3rem;
    //     @include media-query('mobile'){
    //         font-size: 2rem;
    //     }
    //     h1{
    //         line-height: 1;
    //         z-index: 2;

            
    //     }
    // }

    // .box-2{

    //     background: url('/assets/images/engaged.png'), rgb(27, 27, 27) 50% / cover no-repeat;
    //     @extend .box-1

    // }
}
    