@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.features-wrapper {
  // position: relative;
  max-width: $average-width;
  @include flexbox(row, center, center);
  margin: auto;
  // gap: 2px;
  margin-top: -150px;
  margin-bottom: 50px;
  @include media-query('mobile') {
    @include flexbox(column, center, center);
    margin: auto;
    min-width: $full-width;
    margin-top: 100px;
  }
  .features-box {
    height: 300px;
    width: $full-width;
    display: flex;
    place-content: center;
    margin: auto;
    text-align: center;
    .features-box-text {
      z-index: 1; // Ensure text is on top of the overlay
      color: $background-color; // Set text color
      visibility: hidden;
      font-size: calc($font-size-lg + 10px);
      opacity: 0;
      margin-top: 10px;
      font-weight: 800;
      @include transition(all, .5s)
    }

    &:hover{
      .features-box-text{
        visibility: visible;
        opacity: 1;
        margin-top: -10px;
      }
    }
  }

  .box-1{
    position: relative;
    background-image: url('/assets/images/friends.png'); 
    background-size: cover;
    background-position: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $full-width;
      height: $full-width;
      background-color: rgba(0, 0, 0, 0.781); /* Adjust the color and opacity as needed */
    }

    p{
      position: absolute;
      top: 50%;
      left: 20%;
    }

  }
  .box-2{
    @extend .box-1;
    background-image: url('/assets/images/study.png');
    background-color: rgba(6, 90, 51, 0.767);
    p{
      left: 30%;
    }
    
  }
  .box-3{
    @extend .box-2;
    background-image: url('/assets/images/word.png');
    background-color: rgba(146, 7, 7, 0.774); 
    p{
      left: 30%;
    }
  }
}
