@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;


.prays-wrapper {
    max-width: $medium-width;
    margin: auto;
    margin-bottom: calc($margin-lg * 5);
    h1{
        margin-bottom: $margin-sm;
        text-align: center;
    }
    @include media-query('mobile'){
        max-width: $large-width;

        h1{
            font-size: $font-size-xl;
            line-height: 1;
            margin-bottom: $margin-md;
        }
    }
    .prays-btn{
        @include flexbox(row, center, center);
        margin: auto;
        gap: 10px;
        

        @include media-query('mobile'){
            @include flexbox(column, center, center);
            margin: auto;
            min-width: $full-width;
        }
        button{
            cursor: pointer;
            background: none;
            color: $background-color;
            border: none;
            border-radius: $border-radius-xs;
            background-color: $accent-color-2;
            padding: $padding-md;

            @include media-query('mobile'){
                // @include flexbox(column, center, center);
                // margin: auto;
                min-width: $full-width;
            }
        }
    }
}