@use '../abstract//mixins' as *;
@use '../abstract/variables' as *;


/* src/components/Header.scss */

.video-header {
    position: relative;
    height: 65vh; /* Adjust the height as needed */
    overflow: hidden;
    @include media-query('mobile'){
        height: 100%;
    };
    video {
      object-fit: cover;
      width: $full-width;
      height: 100%;
      
    }
  
  }
  
  