@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.box-wrapper{
    width: $average-width;
    background-color: $background-color;
    @include flexbox(row, space-between, center);
    gap: 45px;
    margin: auto;
    position: relative;
    top: -200px;
    left: 0%;
    z-index: 9;
    padding: $padding-sm;
    border-radius: $border-radius-xs;

    @include media-query('mobile'){
        width: $large-width;
        @include flexbox(column, space-between, center);
        margin: auto;
        top: -50px;

        .intro-player{
            width: 300px !important;
        }
    }
    &::after{
        content: '';
        clear: both;
    }

    .intro-text{

        .intro-summary{
            margin-bottom: $margin-md;
        }
        button{
            @include button($secondary-color, $background-color, full, none, 10px, 2px);
        }
    }
}