@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.box-wrapper{
    width: $full-width;
    background-color: $text-color;
    @include flexbox(row, space-between, center);
    gap: 45px;
    margin: auto;
    position: relative;
    // top: -200px;
    left: 0%;
    z-index: 9;
    padding: $padding-sm calc($padding-lg * 5);
    // border-radius: $border-radius-xs;
    img{
        width: 450px;
        height: auto;
    }

    @include media-query('mobile'){
        width: $large-width;
        @include flexbox(column, space-between, center);
        margin: auto;
        top: -50px;

        .intro-player{
            width: 300px !important;
        }
    }
    &::after{
        content: '';
        clear: both;
    }

    .intro-text{
        color: $background-color;
        .intro-header{
            line-height: 1.2;
            margin-bottom: 10px;
        }
        .intro-accent{
            color: $primary-color;
        }
        button{
            @include button($secondary-color, $background-color, full, 10px, 2px);
            border: none;
        }
    }
}