@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
// @use '../components/navbar' as *;


#header-wrapper{
    background-color: transparent;
    @include flexbox(row, center, center);
    margin: auto;
    position: absolute;
    top: 0;
    left: 15%;

header{
    max-width: $large-width;
        z-index: 99;
        @include flexbox(row, center, center);
        margin: auto;
        padding: $padding-xs;
        img{
            max-width: 30%;
        }
        @include media-query('mobile'){
            .mobile-nav {
                transform: translateY(120vh);
            }

            img{
                max-width: 20%;
                height: auto;
                margin-left: -50px;
            }
        }
            .nav{
                @include flexbox(row, space-between, center);

                @include media-query('mobile') {
                    position: fixed;
                    top: -120vh;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    @include flexbox(column, center, center);
                    gap: 1.5rem;
                    background-color: $secondary-color;
                    @include transition(all, .3s);
                    .mobile-close-btn{
                        position: absolute;
                        top: 2rem;
                        right: 2rem;
                    }
            }

            margin: auto;
            gap: 2rem;

            a {
                text-decoration: none;
                text-transform:uppercase;
                // margin-right: $margin-lg;
                color: $primary-color;
                @include transition(all, .3s);
                &:hover{
                    color: $primary-color;
                    // border-bottom: 2px solid $primary-color;
                    color: #444444;
                    // padding: 2px;
                    border-radius: $border-radius-xs;
                }
            }
        }

        button{
            @include button($primary-color, $background-color, full, 2px, 2px);
            @include flexbox(row, space-between, center);
            border: none;
            margin: auto;
            font-size: 12px;
            padding: 0 16px;
            .icon{
                font-size: 50px;
                margin-left: 50px;
            }

            @include media-query('mobile'){
                margin: 0;
            }
        }

        .nav-btn{
            padding: 5px;
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            color: $text-color;
            display: none;
            opacity: 0;
            font-size: .7rem;
            @include media-query('mobile'){
                display: block ;
		        opacity: 1;
                color: $primary-color;
            }
        } 
    }
}