@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;


.newsletter-wrapper{
    min-width: $full-width;
    // padding: $padding-lg 0;
    height: auto;
    @include flexbox(row, space-around, center);
    margin: auto;
    gap: 40px;
    @include media-query(575px){
        @include flexbox(column, center, center);
        padding: $padding-xs;
    }
    .newsletter-left{
        width: $medium-width;
        background-image: url(/assets/images/news.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        height: auto;
        height: 700px;
    }

    .newsletter-right{
        width: $medium-width;
        height: $full-width;
        margin-top: -100px;

        .newsletter-title{
            font-weight: 800;
            font-size: $font-size-xs;
            margin-bottom: 100px;
            max-width: 100px;
        }

        .call-to-action{
            color: $primary-color;
            font-size: calc($font-size-xl * 2)
        }
        form{
            @include flexbox(column, space-between, start);
            gap: 20px;
            min-width: $full-width;
            button{
                @include button($primary-color, $secondary-color, 200px, none, $padding-xs, $border-radius-xs);
                text-transform: uppercase;
                font-weight: 800;
            }
            input{
                min-width: $full-width;
                padding: $padding-xs;
            }
        }
    }
}