@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.upcoming-wrapper{
    background-color: $text-color;
    padding: $margin-lg calc($padding-lg * 5);
    // margin-bottom: $margin-lg;
    h1{
        color: $primary-color;
        margin-bottom: $margin-lg;
        text-align: center;
    }
    @include media-query('mobile'){
        padding: 10px;
    }
    .event-imgs{
        @include flexbox(row, center, center);
        margin: auto;
        gap: 15px;
        @include media-query('mobile'){
            @include flexbox(column, center, center);
            width: $full-width;
            margin: auto;
            gap: 20px;
            // padding: none;
        }
        img{
            height: auto;
            width: 200px;
            // margin-bottom: $margin-sm;
            
            @include media-query('mobile'){
                width: 100%;
                // padding: $padding-sm;
            }
        }
        .event-details{
            background-color: $primary-color;
            text-align: center;
            padding: $padding-xs;
            color: $text-color;
            border-radius: 0 0 3px 3px;
            h5{
                margin-bottom: 5px;
            }
            p{
                font-size: $font-size-xxs;
            }
        }
    }
    
   

}